@font-face {
  font-family: Coluna;
  font-display: swap;
  src: url('../fonts/Coluna.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}
