// Добавляем обнуляющий стиль
@import 'nullstyle.scss';

// Добавляем шрифты
@import 'fonts.scss';

// Добавляем шаблоны цветов
@import 'colors.scss';
html {
  font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
  //overflow-x: hidden;
  @media screen and (max-width: 992px) {
    font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (768 - 320)));
  }
}

//Стиль текста для всего сайта
body {
  font-family: HelveticaNeueCyr;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: -0.02em;
  color: $text;
  overflow-x: hidden !important;
  position: relative;

  &.lock {
    // Этот класс добавляется body при срабатывание эвентов в JS у поп апов и бургера. Блокирует прокрутку
    overflow: hidden;
    @media screen and (max-width: 639px) {
      overflow: hidden;
    }
  }
}

.coluna {
  font-family: Coluna;
  letter-spacing: -0.02em;
}

.logo {
  font-size: 1.5rem;
  &.white-header a{
    color: #fff;
  }


  a {
    width: 100px;
    color: $text;
  }

  &__item {
    opacity: 0;
    font-size: 0;
  }
}

// Стили шапки
.header {
  padding: 0.94rem 1.25rem 0;
  position: fixed;
  z-index: 20;
  width: 100%;
  //mix-blend-mode: saturation;
  // задний фон за шапкой что бы шапка была всегда видна
  //&::before {
  //  content: ' ';
  //  background: #fff;
  //  //position: absolute;
  //  opacity: 0.6;
  //  z-index: 1;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //}

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    z-index: 10;
    transition-duration: 0.3s;

    &.hidden {
      opacity: 0;
      z-index: 0;
    }
  }

  &__menu {
    transition-duration: 1s;
    padding: 0.94rem 1.25rem 1.56rem;
    display: flex;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
    width: 50%;
    height: 100vh;
    opacity: 0;

    &.active {
      opacity: 1;
      top: 0;
    }

    &_left {
      background: #fff;
      top: 0;
      left: -50rem;

      &.active {
        left: 0;
        opacity: 1;
      }
    }

    &_right {
      right: -50rem;
      top: 0;
      background: $text;

      &.active {
        right: 0;
        opacity: 1;
      }

      a {
        color: #fff;
      }
    }
  }

  // &__wisw {
  // }

  // &__info-about-page {
  // }

  &__number-page {
    opacity: 0.6;

    &_visible {
      opacity: 1;
    }
  }

  // &__text-info {
  // }

  &__my-name {
    color: #fff;
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    li {
      margin-bottom: 1.56rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0.6;
    transition-duration: 0.5s;

    &:hover {
      opacity: 1;
    }

    &.active {
      opacity: 1;
    }
  }

  &__link-page {
    font-size: 3rem;
    height: 100%;
  }

  &__burger {
    // Бургер само собой
    z-index: 3;
    position: relative;
    width: 1.56rem;
    height: 1rem;
    cursor: pointer;

    &:before,
    &:after {
      //Создают внешний вид бургера, а в частности его палочки
      content: '';
      position: absolute;
      background: $text;
      width: 1.56rem;
      height: 0.09rem;
    }

    &:before {
      transition-duration: 0.3s;
      top: 0.5rem;
      right: 0rem;
      @media screen and (max-width: 639px) {
        top: 1.5rem;
        width: 2.4rem;
        left: 0.8rem;
      }
    }

    &:after {
      transition-duration: 0.3s;
      top: 1rem;
      right: 0;
      @media screen and (max-width: 639px) {
        top: 2.55rem;
        width: 1.25rem;
        left: 1.3rem;
      }
    }

    &.white-burger {
      &:before, &:after {
        background-color: white;
      }
    }

    &.active {
      &:before {
        background: #fff;
        top: 0.5rem;
        transform: rotate(45deg);
        @media screen and (max-width: 639px) {
          left: 20%;
        }
      }

      &::after {
        background: #fff;
        top: 0.5rem;
        transform: rotate(-45deg);
        @media screen and (max-width: 639px) {
          left: 20%;
        }
      }
    }

    @media screen and (max-width: 639px) {
      position: relative;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.visible-desktop {
  display: block;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.visible-adaptive {
  display: none !important;
  @media screen and (max-width: 992px) {
    display: block;
  }
}

.main {
  padding: 8.75rem 1.25rem 1.56rem 0.75rem;
  z-index: 3;
  opacity: 0;
  transition-duration: 3s;

  &.active {
    opacity: 1;
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__line-text {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__name {
    font-size: 17.875rem;
    line-height: 14.75rem;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 4rem;
  }

  &__info {
    width: 11.75rem;
  }

  &__first-name {
    font-size: 17.875rem;
    line-height: 14.75rem;
  }

  &__scroll-down {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: center;
  }
}

.project {
  color: #fff;
  position: relative;
  z-index: 5;

  //&::before {
  //  content: ' ';
  //  background-color: $text;
  //  width: 100vw;
  //  height: 100vh;
  //  position: absolute;
  //  top: 100%;
  //  left: 0;
  //}

  &__title-block {
    padding: 3.125rem 1.25rem 0;
    background-color: $text;
    border-radius: 2.5rem 2.5rem 0 0;
  }

  // .project__template-block
  &__template-block {
  }
}

.title-block {
  &__title {
    font-size: 13.125rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__timeline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 18.0625rem;
    margin-right: 4.375rem;
    padding-bottom: 3.125rem;
  }

  &__year {
  }

  &__underline {
    width: 60%;
    height: 1px;
    background-color: #fff;
  }
}

.template-block {
  text-transform: uppercase;
  height: 60rem;
  //opacity: 0;

  // .template-block__row
  &__row {
    //height: 60rem;
    padding: 3.25rem 1.25rem 1.56rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: sticky;
    top: 0;
    @media screen and (min-height: 1200px) and (max-width: 1700px) {
      top: 30vh;
    }
  }

  // .template-block__project-info
  &__project-info {
  }

  // .template-block__description
  &__description {
    letter-spacing: 0.02rem;
    margin-bottom: 0.3rem;
  }

  // .template-block__name-company
  &__name-company {
    font-size: 7.5rem;
  }

  // .template-block__button
  &__button {
    width: 4.7rem;
    height: 4.7rem;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .template-block__logo-and-number
  &__logo-and-number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  // .template-block__number
  &__number {
    opacity: 0.2;
    font-size: 7.5rem;
    transform: translatey(3rem);
    z-index: 1;
  }

  // .template-block__logo
  &__logo {
    display: flex;
    width: 19.5rem;
    height: 16.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.25);
    z-index: 2;

    img {
      width: 100%;
    }
  }
}

.about-info {
  // .about-info__lite-info
  background-color: $text;
  padding-bottom: 0.5rem;

  &__container {
    padding: 6.25rem 1.25rem 4.6rem;
    border-radius: 0 0 2.5rem 2.5rem;
    box-shadow: 0 0.31rem 0.31rem rgba(0, 0, 0, 0.25);
    z-index: 3;
    background-color: #fff;
  }

  &__lite-info {
    max-width: 7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  // .about-info__paragraph
  &__paragraph {
    margin-bottom: 3.125rem;
  }

  // .about-info__big-info
  &__big-info {
    font-size: 6.25rem;
  }
}

.footer {
  //position: relative;
  height: 100%;
  padding: 3.75rem 1.25rem 1.5rem;
  z-index: 1;

  // .footer_dark
  &_dark {
    background-color: $text;
    color: #fff;
    z-index: 2;
  }

  // .footer__row
  &__row {
    display: flex;
    margin-bottom: 4.69rem;
  }

  // .footer__block-with-link
  &__block-with-link {
    margin-right: 6.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  // .footer__title
  &__title {
    text-transform: uppercase;
    margin-bottom: 1.25rem;
  }

  // .footer__list
  &__list {
    padding-left: 1.7rem;
  }

  // .footer__link
  &__link {
    margin-bottom: 0.625rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #fff;
      opacity: 0.4;
      transition-duration: 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }

  // .footer__full-name
  &__full-name {
    font-size: 10rem;
    text-align: center;
    margin: 0 auto;
  }
}

.coluna {
}

.coluna {
}

.avtooko24 {
  background-color: #252525;

  .template-block__logo {
    background-color: #515151;
    padding: 4.6rem;
  }
}

.button-move {
}

.arusnavi {
  background-color: #006f9d;

  .template-block__logo {
    background-color: #338cb1;
    padding: 4.6rem 2rem;
  }
}

.busyfly {
  background-color: #301552;

  .template-block__logo {
    background-color: #594475;
    padding: 2.9rem 5rem;
  }
}

.solomon {
  background-color: #1d2649;

  .template-block__logo {
    background-color: #4a516d;
    padding: 3.2rem;
  }
}

.alcomarket {
  background-color: #89001e;

  .template-block__logo {
    background-color: #a1334b;
    padding: 2.8rem;
  }
}
